.conf/local.sh
.registry-*
docker-compose-*.yml

# Boilerplate
_cleanup
_init

# node
node_modules

# Logs
logs
*.log
*.log*

# Coverage
coverage/**
!coverage/lcov.info
!coverage/cobertura-coverage.xml
